body {
}

.external-frame {
  font-family: "Quicksand", sans-serif;
  color: rgb(254, 224, 245);
  background: radial-gradient(
    circle at 50.3% 44.5%,
    rgb(123, 69, 62) 0%,
    rgb(33 21 49) 102%
  );
  max-width: 369px;
  border: 1px solid rgb(33 21 49);
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 8px rgba(33, 21, 49, 0.5);
}

.top-row {
  padding-top: 15px;
  padding-left: 10px;
  align-items: center;
}

.date-time {
  font-size: 11px;
  line-height: 1;
}

.city-search {
  border-radius: 15px;
  text-align: center;
  background: transparent;
  color: rgb(254, 224, 245);
  border: 1px solid rgb(254, 224, 245);
}

.city-search:focus-visible {
  outline: none;
}

.celsius,
.fahrenheit {
  border: none;
  line-height: 1.5;
  font-size: 12px;
  color: rgb(33 21 49);
  background: rgb(254, 224, 245);
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

.fahrenheit {
  position: relative;
  left: -5px;
  border-radius: 0 3px 3px 0;
}

.celsius {
  border-radius: 3px 0 0 3px;
}

.active {
  background: rgba(254, 224, 245, 0.3);
  border: 1px solid rgb(254, 224, 245);
  color: rgb(254, 224, 245);
  line-height: 1.7;
  font-size: 14px;
  border-radius: 3px;
}

#current-location-button {
  font-size: 11px;
  display: block;
  margin: 5px auto 0;
  line-height: 1;
  padding: 3px 3px 5px;
  background: rgb(49 21 38 / 74%);
  color: rgba(254, 224, 245, 0.901);
  border: 1px solid rgba(219, 219, 219, 0);
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}

#current-location-button:hover {
  background: rgba(72, 32, 56, 0.74);
  color: rgb(254, 224, 245);
}

h1 {
  text-align: center;
  padding-top: 35px;
  font-size: 35px;
  text-transform: capitalize;
}

.main-icon {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

#current-temperature-wrapper {
  position: relative;
  line-height: 1;
}

.current-temperature {
  text-align: center;
  font-size: 100px;
  font-weight: 300;
}

.sign {
  font-size: 25px;
  position: relative;
  right: -67%;
  top: -87px;
}

.current-weather {
  text-align: center;
  padding-bottom: 70px;
  font-weight: 500;
}

.additional-measurements {
  padding-left: 115px;
  margin-bottom: 10px;
}

.forecast-row {
  max-width: 369px;
  margin-left: -1;
}

.forecast-col {
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(219, 219, 219, 0);
  border-top: 2px solid rgba(219, 219, 219, 0);
  line-height: 2.2;
  background: rgb(49 21 38 / 74%);
  color: rgb(254, 224, 245);
  transition: all 250ms ease-in-out;
}

.forecast-col:hover {
  background: rgba(72, 32, 56, 0.74);
  position: relative;
  top: 5px;
}

.open-source-by {
  text-align: center;
  color: rgb(49 21 38);
}
